.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
table{
  font-size: .7rem;
  background-color: #333;
  padding: 1rem;
}
thead, tbody{
  margin: 1rem;
}
tr{
  vertical-align: baseline;
}
td, th{
  text-align: center;
  padding: .5rem;
} 
aside p{
  font-size: .8rem;
}